* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, p {
    width: fit-content;
}

header {

    background-color: #ffffff;
    height: 20vh;
    
    /* ative la propriete flex-box du contenaire */
    display: flex; 

    /* 
        precise que l'axe principale est verticale 
        j'ai choisi la vertical par ce que c'est comme ca que les elements sont
        alligne dans le header (verticallement)
    */
    flex-direction: column; 

    /* centre les element sur l'axe principale */
    justify-content: center; 

    /* centre les element sur l'axe secondaire (horizontale) */
    align-items: center; 

    /* ajoute un espace entre les elements du contenaire */
    gap: 0.5em;
}

header > p > span {
    padding: 0.2em 0.5em;
    background-color: black;
    color: white;
    margin-left: 0.5em;
}

/*=============== MAIN =============*/

main {
    position: relative;
    top: 20vh;
    left: 0;
    height: fit-content;
}